/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
  padding: 15px;
  margin: 15px 10px 1px 1px;
  width: 80;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

main {
  padding: 5px 5px;
  margin: 100px;
  width: 50%;
  height: 70%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}

body {
  background-color: #9fcbfa;
  color: chocolate;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-size: cover;
  cursor: crosshair;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border: undefined;
  display: inline-block;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

#menuitem {
  padding: 10px;
  margin: 5px 50px;
  display: inline;
  position: relative;
}

p {
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
  display: block;
}

p#text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

a {
  color: blue;
}

a:visited {
  color: coral;
}

a:hover {
  color: blueviolet;
  text-decoration: none;
}

a:active {
  color: chartreuse;
}

input[type=submit] {
  background: darkolivegreen;
  padding: 5px 15px;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit]:hover {
  color: cadetblue;
}

table {
  padding: 10px;
  margin: 10px;
  border: undefined;
}

.img {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#float-boxes div {
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  margin: 10px;
  border: undefined;
  display: inline-block;
}

#float-text {
  display: block;
  text-align: left;
  font-size: 17px;
}

#artwork {
  width: 100px;
  height: 150px;
  border: undefined;
  border-radius: 20%;
}

.standard-label {
  width: 10px;
  height: 5px;
  padding: 5px;
  display: block;
}

.p1#project {
  font-size: 17px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  text-align: left;
}

#text {
  text-align: left;
}

input {
  display: block;
  float: left;
}

#portrait {
  float: center;
  width: 250px;
  margin-right: 40px;
  border-radius: 20%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

div.grid__item {
  background-color: rgb(198, 232, 250);
  border: 2px solid rgb(12, 12, 248);
  width: 300px;
  height: 350px;
  border-radius: 20%;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s, 0.5s;
  -o-transition-duration: 0.5s, 0.5s;
  transition-duration: 0.5s, 0.5s;
}

.button {
  border: none;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkolivegreen;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button {
  border: none;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkolivegreen;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media all and (max-width: 575px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 575px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) and (max-width: 880px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media all and (min-width: 880px) and (max-width: 1250px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.grid__item:last-child {
  grid-column: auto/auto;
  grid-row: auto/auto;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  float: center;
}

footer {
  padding: 5%;
  margin: 5px;
  width: 400px;
  display: inline;
  text-align: center;
}

.page-footer {
  float: center;
}

#contact-email {
  width: 150px;
  height: 21px;
}

#contact-message {
  width: 150px;
  height: 100px;
}

#contact-form {
  display: inline-block;
  align-self: center;
  text-align: left;
}

.standard-label {
  display: block;
  text-align: left;
}

.grid-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: none; /* Adjust this value as needed */
}

.grid__item {
  overflow: hidden;
}

.heading {
  font-size: 25px;
  color: chocolate;
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-main h1 {
  text-align: center;
}

/* For all clickable elements */
a:active, button:active, [role="button"]:active {
  cursor: grabbing; /* Changes to a closed hand icon when clicking */
}